 *{
    margin: 0;
    padding: 0;
 }
 
 #container{
    background-color:white;
    display: flex;
    width:250vh ;
}

#Verde{
    background-color:green;
    width: 465px;
    height: 90vh;
}

#Blanco{
    background-color: white;
    width: 465px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Blanco img{
    width: 250px;
}

#Rojo{
    background-color:red;
    width: 465px;
    height: 90vh;
}